* {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dcdcdc;
}
/*
  Background: #dcdcdc
  color 1 (orange): #ff4000
  color 2 (grey): #39393a
  color 3 (yellow): #eca400
*/
